.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.chat-float {
    float:left; 
    z-index: 2; 
    top: 90%; 
    left: 5px;
    background-color:#FC3C3C;
    text-align: center;
    vertical-align:middle;
    height:48px;
    width: 48px; 
    padding:5px; 
    position: fixed; 
    border-radius:50px;
}
.chat-float:hover{
    background-color:#FC5554;
}
.webcontent{
    padding:20px;
}

.chat-box{
    background-color: white;
    padding:10px;
}
.chat-field input{
    width: -webkit-fill-available;
}
.own-text{
    color: white;
    background-color: #4FB99F;
    padding:10px;
    width: fit-content;
    max-width: 80%;
    border-radius: 20px;
    margin-right: 0px;
    margin-left: auto;
    word-wrap: break-word;
    margin-bottom: 5px;
}
.reply-text{
    color: white;
    background-color: #112F41;
    padding:5px;
    width: fit-content;
    max-width: 80%;
    border-radius: 20px;
    margin-right: auto;
    margin-left: 0px;
    word-wrap: break-word;
    margin-bottom: 5px;
}